.cart-items{
    text-align: center;
}
.cart{
    position: relative;
}
.content, .button{
    
    text-align: center;
}
.item{
    display: inline-block;
    margin: 20px;
}
.button{
    display: inline-block;
}